.profile{
   margin-top: 50px;
    width: 175px;
    border-radius: 50%;
    margin-bottom: 60px;
}
body{
    text-align: center;

}
#welcome{
    background: linear-gradient(red,blue);
    height: 700px;
}
p{
    max-width: 450px;
    margin: 25px auto;
}
#bio{
    background: rgb(255, 210, 9);
}
.line{
    width: 70px;
    background: darkorange;
    height: 5px;
    margin: 8px auto;
}
#name{
    font-family: 'Bebas Neue', cursive;
}
.menu{
    list-style: none;
    cursor:pointer;
    position: absolute;
    top: 10px;
    right:30px;
    color:ghostwhite;
    font-size: large;
}
.link{
    float: left;
    padding-left: 9px;
    padding-right: 9px;
}
.link:hover{
    background-color: indianred;
    font-size: x-large;
    color: lightblue;
}
